<!--  <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            
            <p-panel [toggleable]="true" [collapsed]="true" [style]="{'position': 'relative', 'top': '0','margin-right':'2vh'}">
                <ng-template pTemplate="header">       
                    <div class="block gap-2" style="display: block;">
                        <span class="font-bold">PROCESSUS : {{ this.processName }}</span>
                    </div> 
                </ng-template>

                <ng-template pTemplate="icons" >
                    <p-dropdown class="mr-3" placeholder="Choisir une entité"></p-dropdown>
                </ng-template>
                
                <div class="block gap-2" style="display: block;">
                    <span class="font-bold">Date :</span>
                    <span class="p-text-secondary">{{ this.processName }}</span>
                </div> 
                <div class="block gap-2 mt-2" style="display: block;">
                    <span class="font-bold">Déclenché par :</span>
                    <span class="p-text-secondary">{{ this.processName }}</span>
                </div> 
                <div class="block gap-2 mt-2" style="display: block;">
                    <span class="font-bold">Tache courante :</span>
                    <span class="p-text-secondary">{{ this.processName }}</span>
                </div> 
                <div class="block gap-2 mt-2" style="display: block;">
                    <span class="font-bold">Tache précédente :</span>
                    <span class="p-text-secondary">{{ this.processName }}</span>
                </div>
                
                <div class="flex flex-wrap align-items-center justify-content-between gap-3 ">
                    <div class="flex align-items-center gap-2"></div>
                    <span class="p-text-secondary">Crée il y a 2 heures</span>
                </div>

               
            </p-panel>
        </div>
    </div>
</div> 
 -->



<!-- <p-card>
    <div class="flex flex-wrap align-items-center justify-content-between gap-3">
        <div class="flex align-items-center gap-2">
            <span class="font-bold">PROCESSUS: {{ this.processName }}</span>
        </div>
        <p-dropdown placeholder="Choisir une entité"></p-dropdown>
    </div>
    
</p-card>
 -->
