<div class="container">

    <div class="form-row">
        <div class="upload">
            <label class="custom-file-upload">
              <input type="file" (change)="onFileSelected($event)">
              <mat-icon>attach_file</mat-icon>
            </label>
        </div>
        <mat-form-field style="width:93%;">
            <mat-label>Documents</mat-label>
            <input matInput [value]=" fileName " readonly>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="filename">
            <th mat-header-cell *matHeaderCellDef> File Name </th>
            <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
        </ng-container>

        <ng-container matColumnDef="desc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.desc}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> Ajouté par </th>
            <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>