<div class="row">
    <div class="left-column">
        <div class="row">
            <mat-form-field class="input1">
                <mat-label>Pays</mat-label>
                <mat-select>
                    <mat-option value="one"> 216–Tunisie</mat-option>
                    <mat-option value="three">49 - Allemagne</mat-option>
                    <mat-option value="two">2 - Canada</mat-option>

                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input">
                <mat-label>Ville :</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Adresse[1]:</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input">
                <mat-label>Gouvernorat :</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Adresse[2]:</mat-label>
                <input matInput>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field class="input">
                <mat-label>CP</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="input">
                <mat-label>Adresse[3]:</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>

    <div class="right-column">
        <img src="..\assets\images\map.png" alt="Your Image" style="width: 100%; height: auto;">
    </div>
</div>