.input1 {
    width: 96%;
    margin-right: 4%
}

.input {
    width: 42%;
    margin-right: 4%
}

.row {
    display: flex;
    justify-content: space-between;
}

.left-column {
    flex: 1;
    padding-top: 3%
}

.right-column {
    flex: 1;
    padding-right: 2%
}