* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    left: 48px;
    top: 50px;
    height: 88%;
    width: 58px;
    background: #F4F4F4;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 240px;
    overflow-y: auto;
    height: 88%;
}

.sidebar:not(.open) .nav-list li {
    display: none;
}

.sidebar .header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 20px;
}

.sidebar .header .title {
    color: #11101d;
    font-size: 21px;
    font-weight: 550;
    opacity: 0;
    transition: all 0.5s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar.open .header .icon,
.sidebar.open .header .title {
    opacity: 1;
}

.sidebar .header #btn {
    position: absolute;
    top: 40%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .header #btn {
    text-align: right;
    right: 7%;
}

.sidebar i {
    color: #1d1b31;
    height: 40px;
    min-width: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
    border: none;
}

.sidebar li {
    list-style: none;
}

.input mat-label {
    font-size: 13px;
    margin-bottom: 5px;
}

.button-grp {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-top: 1%;
    margin-right: 5%;
}

.valid-btn {
    width: 120px;
}

.main-content {
    position: relative;
    background: #fff;
    height: 98%;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.main-content {
    left: 250px;
    width: calc(100% - 250px);
    height: 98%;
}

.main-content .text {
    display: inline-block;
    color: #11101d;
    font-size: 8px;
    font-weight: 500;
    margin: 18px;
}

.rowSwitch {
    margin-top: 5%;
}

.sidebar .header .badge {
    position: absolute;
    top: 5px;
    right: 2px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}