<!-- <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="sidebar" id="sidebar">


    <div class="header">
        <div class="title">#F00000</div>
        <i class="bx bx-menu" id="btn"></i>
        <div class="badge">x</div>
    </div>

    <div class=" nav-list ">

        <li>
            <mat-form-field class="input ">
                <mat-label>Nom</mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>Nom Tri</mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>Type</mat-label>
                <mat-select>
                    <mat-option value="one ">First option</mat-option>
                    <mat-option value="two ">Second option</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>relation d'affaire</mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>Réference dossier</mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>Groupe </mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field class="input ">
                <mat-label>Nom Premier Resp. Juridique </mat-label>
                <input matInput>
            </mat-form-field>
        </li>
        <li class="rowSwitch ">
            <mat-chip-listbox class="mat-mdc-chip-set-stacked " aria-label="Color selection ">
                <mat-chip-option *ngFor="let chip of availableColors " [color]="chip.color ">
                    {{chip.name}}
                </mat-chip-option>
            </mat-chip-listbox>
        </li>

    </div>
</div>


<section class="main-content ">

    <app-tabs></app-tabs>

</section> -->

<div style="margin-top : 15px; margin-bottom:430px;">
    <p>Supplier Component works ! </p>
</div>
