<p-toast/>

<div class="flex h-full">
  <div class="col-fixed" [style]="{width: '40vh'}">
    <p-card styleClass="h-full">

      <div class="flex align-items-center justify-content-between mb-3 mt-3">
        <div class="w-12 flex items-center justify-between">
          <div class="font-bold text-lg md:text-2xl">#F888888</div>
        </div>
        <p-tag [icon]="chipIcon" [severity]="chipSeverity" [value]="chipValue"></p-tag>
      </div>
  
      <div class="flex flex-column" >
          <input type="text" pInputText  [(ngModel)]="name" placeholder="Nom" [class.ng-invalid]="requiredName" [class.ng-dirty]="requiredName" class="mb-2">
          <input type="text" pInputText  [(ngModel)]="triName" placeholder="Nom tri" class="mb-2">
          <p-dropdown optionLabel="name" [(ngModel)]="selectedType" placeholder="Type" [options]="supplierType" class="mb-2" styleClass="w-12"></p-dropdown>
          <input type="text" pInputText  [(ngModel)]="relationAffaire" placeholder="Relation d'affaire"  class="mb-2">
          <input type="text" pInputText  [(ngModel)]="groupe" placeholder="Groupe" class="mb-2">
          <input type="text" pInputText  [(ngModel)]="folderRef"  placeholder="Réference dossier" class="mb-2">
          <input type="text" pInputText  [(ngModel)]="respJurName" placeholder="Nom premier resp juridique" class="mb-2">
          <div class="field grid ">
            <p-inputSwitch [(ngModel)]="checked" class="ml-2 mt-2"  />
            <label for="firstname4" class="text-base col-12 mb-1 md:col-2 md:mb-0" >Concurrent</label>
          </div>
          <div class="field grid">
            <p-inputSwitch [(ngModel)]="checked1" class="ml-2"  />
            <label for="firstname4" class="text-base ml-2" >A ne pas utiliser</label>
          </div>
      </div>
    </p-card>
  </div>

  <div class="col" [style.width]="'40vh'">
    <p-card styleClass="h-full text-primary">
      <div class="flex align-items-center justify-content-between">
        <div class="w-12 flex items-center justify-between">
          <div class="font-bold text-2xl text-primary">Maintenance fournisseur</div>
        </div>
        <div class="flex gap-2 mb-2">
          <p-button icon="pi pi-check" (click)="checkValidSupplierMaint()"/>
          <p-button icon="pi pi-refresh" severity="secondary"/>
          <p-button icon="pi pi-arrow-right-arrow-left" severity="secondary"  (click)="intgerationSidebar = true" />

        </div>
      </div>
      <p-tabView [scrollable]="true">
        <p-tabPanel header="Données Paiement">
          <maint-payment (errorMessages)="showError($event)" (paymentStatus)="updateStatus('payment', $event)"></maint-payment>
        </p-tabPanel>
        <p-tabPanel header="Données Fiscale">
          <maint-taxe (errorMessages)="showError($event)" (taxeStatus)="updateStatus('taxe', $event)"></maint-taxe>
        </p-tabPanel>
        <p-tabPanel header="Données Bancaires"> 
          <maint-bank (errorMessages)="showError($event)" (bankStatus)="updateStatus('bank', $event)"></maint-bank>
        </p-tabPanel>
        <p-tabPanel header="Adresse">
          <maint-adresse (adresseStatus)="updateStatus('adresse', $event)"></maint-adresse>
        </p-tabPanel>
        <p-tabPanel header="Contact">
          <maint-contact (errorMessages)="showError($event)" (contactStatus)="updateStatus('contact', $event)"></maint-contact>
        </p-tabPanel>
        <p-tabPanel header="Prospectus & Catalogue">
          <maint-prospectus (prospectusStatus)="updateStatus('prospectus', $event)"></maint-prospectus>
        </p-tabPanel>
        <p-tabPanel header="Activité">
          <maint-activity (activityStatus)="updateStatus('activity', $event)"></maint-activity>
        </p-tabPanel>
        <p-tabPanel header="Qualité">
          <maint-quality (qualityStatus)="updateStatus('quality', $event)"></maint-quality>
        </p-tabPanel>
        <!-- <p-tabPanel header="Matricule Fiscale">
          <maint-matricule-fiscale></maint-matricule-fiscale>
        </p-tabPanel> -->
      </p-tabView>
    </p-card>
  </div>       

</div>

<p-sidebar [(visible)]="intgerationSidebar" position="right" styleClass="w-30rem">
  <h2>Intégration fournisseur</h2>
  <div class="flex flex-column">
    <div class="card flex">
      <div class="flex flex-column gap-1">
        <h3>Motif d’intégration</h3>
        <div *ngFor="let motif of motifs" class="field-checkbox">
          <p-checkbox [inputId]="motif.key" [value]="motif" [(ngModel)]="selectedMotif" (onChange)="onMotifChange()" inputId="motif.key"></p-checkbox>
          <label [for]="motif.key" class="ml-2"> {{ motif.name }} </label>
        </div>
        <div *ngIf="showTextArea" >
          <textarea rows="4" cols="40" pInputTextarea></textarea>
        </div>

        <h3>Les principaux articles ou services du fournisseur</h3>
        <textarea rows="4" cols="30" pInputTextarea ></textarea>

        <h3>Chiffre d'affaire annuel estimatif avec le fournisseur</h3>
        <div class="field  ">
          <label>Historique CA N-1 :</label>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="field ">
          <label>Prévision Année en cours :</label>
          <input pInputText  type="text" class="p-2 w-full">
        </div>

        <h3>Evaluation Fournisseur</h3>
        <div class="field  ">
          <label>Note dernière Evaluation :</label>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="field ">
          <label>Date dernière Evaluation :</label>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="field  ">
          <label>Nombre des réclamations :</label>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="field ">
          <label>Traitées :</label><br>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="field ">
          <label>Non traitées :</label><br>
          <input pInputText  type="text" class="p-2 w-full">
        </div>
        <div class="flex mt-2">
          <p-button label="Intégrer" icon="pi pi-check" styleClass="p-2" (click)="checkIntegration()"/>
        </div>
      </div> 
    </div>
    
  </div>
</p-sidebar>

<div class="card flex justify-content-center">
  <p-toast></p-toast>
  <p-confirmDialog>
    <ng-template pTemplate="message" let-message>
      <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
      </div>
    </ng-template>
  </p-confirmDialog>
</div>
