.card {
    width: 100%; /* Ajustez cette valeur pour la largeur désirée */
    margin: 0 auto; /* Centrer la carte horizontalement */
  }
  
  .flex {
    display: flex;
    justify-content: center;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }
  
  .justify-content-end {
    justify-content: center;
  }
  